.wrap > h1{
	font-size: 35px;
	line-height: 1.5;
}
.wfm-topbar{
	background-color: #fff;
	margin-top: 30px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.wfm-topbar .wfm-fonts-filters{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 550px;
	float: left;
}
.wfm-topbar .wfm-fonts-filters > li{
	width: 33.33%;
	float: left;
	margin-bottom: 0;
	box-sizing: border-box;
}

.selectize-control.single .selectize-input.input-active,
.selectize-input{
	display: block;
}

.selectize-input{
	border-width: 0 1px 0 0;
	border-color: #f1f1f1;
	border-radius: 0;
	padding: 15px 15px 14px;
	box-shadow: none !important;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 10px 15px;
}

.selectize-dropdown [data-selectable]{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.selectize-dropdown .active{
	background-color: #ff6868;
	color: #fff;
}
.selectize-dropdown-content{
	max-height: 266px;
}

.selectize-dropdown{
	border: none;
	border-radius: 0;
}

.wfm-topbar .wfm-menus{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 550px;
	float: right;
}
.wfm-topbar .wfm-menus > li{
	margin: 0;
	padding: 0;
}
.wfm-topbar .wfm-menus > li.wfm-search-wrap{
	width: 50%;
	float: left;
}

.wfm-topbar .wfm-menus > li.wfm-search-wrap input{
	width: 100%;
	border-width: 0;
	box-shadow: none;
	margin: 0;
	padding: 14px 15px;
	background-color: #fcfcfc;
}

.wfm-topbar .wfm-menus > li.wfm-your-fonts-wrap{
	width: 25%;
	float: left;
}

.wfm-topbar .wfm-menus > li.wfm-your-fonts-wrap strong{
	display: block;
	text-align: center;
	padding: 13px 10px 14px;
	background-color: #222;
	color: #fff;
	cursor: pointer;
}

.wfm-topbar .wfm-menus > li.wfm-your-fonts-wrap strong span{
	display: inline-block;
	background-color: #ff6868;
	color: #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	text-align: center;
}

.wfm-topbar .wfm-menus > li.wfm-settings-wrap{
	width: 25%;
	float: left;
}

.wfm-topbar .wfm-menus > li.wfm-settings-wrap strong{
	display: block;
	text-align: center;
	padding: 14px 10px;
	cursor: pointer;
}

.wfm-fonts-view-wrap{
	position: relative;
	min-height: 180px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.wfm-fonts-view-wrap.active{
	height: 200px;
	overflow: hidden;
}

.wfm-fonts-view-wrap .wfm-fonts-view-overlayer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f1f1f1;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.wfm-fonts-view-wrap.active .wfm-fonts-view-overlayer{
	visibility: visible;
	opacity: 1;
}

/*Typing Loader*/
.typing_loader{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-animation: typing 1s linear infinite alternate;
	   -moz-animation: Typing 1s linear infinite alternate;
			animation: typing 1s linear infinite alternate;
	margin: auto; /* Not necessary- its only for layouting*/  
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
@-webkit-keyframes typing{
	0%{
		background-color: rgba(255, 104, 104, 1);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	  }
	25%{ 
		background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	}
	75%{ background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,1);
	  }
}

@-moz-keyframes typing{
   0%{
		background-color: rgba(255, 104, 104, 1);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	  }
	25%{ 
		background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	}
	75%{ background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,1);
	  }
}

@keyframes typing{
   0%{
		background-color: rgba(255, 104, 104, 1);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	  }
	25%{ 
		background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,2), 
					80px 0px 0px 0px rgba(255,104,104,0.2);
	}
	75%{ background-color: rgba(255,104,104, 0.4);
		box-shadow: 40px 0px 0px 0px rgba(255,104,104,0.2), 
					80px 0px 0px 0px rgba(255,104,104,1);
	  }
}

.wfm-fonts-view{
	margin: 30px -15px 0;
}

.wfm-font-item{
	width: 25%;
	float: left;
	padding: 15px;
	box-sizing: border-box;
}
.wfm-font-item-inner{
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.wfm-font-item .wfm-font-demo{
	font-size: 25px;
	line-height: 1.5;
}
.wfm-font-item .wfm-font-name-wrap{
	margin-bottom: 10px;
	position: relative;
}
.wfm-font-item .wfm-font-name-wrap .wfm-font-name{
	margin-top: 0;
	margin-bottom: 2px;
}

.wfm-font-item .wfm-font-name-wrap .wfm-font-name span{
	font-weight: 400;
	font-size: 12px;
	color: #a0a0a0;
}
.wfm-font-item .wfm-font-name-wrap .wfm-font-styles span{
	float: left;
	padding: 5px 0;
}
.wfm-font-item .wfm-font-name-wrap .wfm-font-styles .selectize-input{
	padding: 5px 8px;
	border-width: 0;
}

.wfm-font-item .wfm-font-name-wrap .wfm-font-styles .selectize-control.single{
	display: inline-block;
}

.wfm-font-item .wfm-font-name-wrap .wfm-font-styles .selectize-control.single .selectize-input:after{
	display: none;
}

.wfm-font-item .wfm-font-name-wrap .wfm-font-styles .selectize-dropdown{
	width: 150px !important;
	left: -7px !important;
}

.wfm-font-item .wfm-font-name-wrap .wfm-add-font{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 33px;
	text-align: center;
	display: block;
	text-decoration: none;
	background-color: #ff6868;
	color: #fff;
	border-radius: 50%;
}

.wfm-font-item .wfm-font-name-wrap .wfm-add-font span{
	line-height: inherit;
	text-decoration: none;
	width: auto;
	height: auto;
}

.wfm-font-item .wfm-font-name-wrap .wfm-add-font.wfm-added{
	background-color: #70d674;
	cursor: default;
}

.wfm-pagination ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.wfm-pagination ul li{
	display: none;
	margin: 0;
	padding: 0;
}

.wfm-pagination ul li span,
.wfm-pagination ul li a{
	display: block;
	padding: 10px 20px;
	background-color: #fff;
	border-right: 1px solid #f1f1f1;
	text-decoration: none;
	color: #000;
	box-shadow: none;
}
.wfm-pagination ul li:last-child a{
	border-right-width: 0;
}

.wfm-pagination ul li a:hover{
	color: #ff6868;
}

.wfm-pagination ul li.active a{
	color: #fff !important;
	background-color: #ff6868;
	border-color: #ff6868;
}

.wfm-pagination ul li.wfm-dots{
	display: inline-block;
}
.wfm-pagination ul li.active + li + li.wfm-dots:not(.wfm-last-dots),
.wfm-pagination ul li.active + li.wfm-dots:not(.wfm-last-dots){
	display: none;
}
.wfm-pagination ul li.wfm-prev,
.wfm-pagination ul li.wfm-next,
.wfm-pagination ul li.active,
.wfm-pagination ul li:first-child + li,
.wfm-pagination ul li:first-child + li + li,
.wfm-pagination ul li.active + li,
.wfm-pagination ul li.active + li + li,
.wfm-pagination ul li.wfm-dots.wfm-last-dots,
.wfm-pagination ul li.wfm-dots.wfm-last-dots + li{
	display: inline-block;
}

.wfm-pagination ul li.wfm-prev,
.wfm-pagination ul li.wfm-next{
	cursor: pointer;
}

.wfm-pagination ul li.active + li.wfm-last-dots,
.wfm-pagination ul li.wfm-disable{
	display: none;
}

.wfm-pagination ul li.wfm-enable{
	display: inline-block;
}

.wfm-pagination ul li.wfm-enable-force{
	display: inline-block !important;
}

.wfm-ef-view-wrap{
	background-color: #222;
	padding: 30px;
	display: none;
}

.wfm-ef-view-wrap.active{
	display: block;
}

.wfm-enabled-font-item{
    width: 25%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.wfm-ef-view-inner{
	margin: -15px;
}
.wfm-ef-view-inner .wfm-enabled-font-item:nth-child(4n+1){
	clear: both;
}
.wfm-enabled-font-item-inner{
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.wfm-enabled-font-item-inner .wfm-enabled-font-data{
	border-bottom: 1px solid #222;
}
.wfm-enabled-font-item-inner .wfm-enabled-font-data,
.wfm-enabled-font-item-inner .wfm-enabled-font-settings{
	padding: 30px;
	position: relative;
}
.wfm-enabled-font-item-inner .wfm-enabled-font-data h3.wfm-enabled-font-name{
	margin: 0;
}

.wfm-enabled-font-item-inner .wfm-enabled-font-settings{
	display: none;
}

.wfm-enabled-font-item .wfm-enabled-font-settings.active{
	display: block;
}

.wfm-enabled-font-settings .wfm-row{
	margin: 0 -15px;
}
.wfm-enabled-font-settings .wfm-row > div{
	width: 50%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}

.wfm-enabled-font-settings .wfm-row > div label{
	display: block;
	margin: 10px 0;
}

.wfm-ef-remove{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: #000;
	padding: 7px 12px;
	box-shadow: none !important;
}

.wfm-ef-settings{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 14px;
	color: #000;
	padding: 7px 12px;
	box-shadow: none !important;
}

.wfm-ef-update{
	display: block;
    padding: 12px 8px;
    background-color: #ff6868;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.wfm-ef-update:hover{
	background-color: #222;
	color: #fff;
}

.wfm-ef-update.disabled{
	background-color: #f1f1f1 !important;
	color: #bfbfbf !important;
}

.wfm-font-api-saving,
.wfm-font-data-updating{
	display: none;
	margin-top: 15px;
	text-align: center;
	color: #ff6868;
	font-size: 16px;
	line-height: 1.5;
}
.wfm-font-api-saving.active,
.wfm-font-data-updating.active{
	display: block;
}
.wfm-font-api-saving{
	text-align: left;
}
.wfm-api-settings{
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	display: none;
}
.wfm-api-settings.active{
	display: block;
}
.wfm-api-settings .wfm-api-setting-field{
	padding: 15px 0;
}
.wfm-api-settings .wfm-api-setting-field label{
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.wfm-api-settings .wfm-api-setting-field input[type="text"]{
	width: 350px;
}
.wfm-api-settings .wfm-api-setting-field p{
	color: #ababab;
}

.wfm-save-api-settings{
	background-color: #ff6868;
	border: none;
	color: #fff;
	padding: 8px 20px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.wfm-save-api-settings:hover{
	background-color: #222;
	color: #fff;
}

.wfm-save-api-settings.disabled{
	background-color: #f1f1f1 !important;
	color: #bfbfbf !important;
}